.headerBody {
    background-image: url(../../media/wallpapers/aron-visuals-LSFuPFE9vKE-unsplash.jpg);
    font-family: 'Aldrich', sans-serif;
    border-radius: 3rem;
    height: 10rem;
    margin-top: 6rem;
    border:solid;
}

#center-logo {
    font-size: 2.9rem;
    margin-top:0rem;
}

#account-icon {
    margin: 2rem;
    font-size: 5rem;
    padding: 0.5rem;
}

#doggo-icon {
    width: 40%;
    height: 40%;
    margin-top: 2.1rem;
    margin-right: -4.9rem;
}

#Nico {
    margin-top:0.7rem;
    position: absolute;
    width: 7.5rem;
    border:solid;
}